{% extends 'overlay_base.html' %}
{% load i18n %}
{% load l10n %}
{% load url from future %}
{% load static from staticfiles %}

{% block title %}
    {% trans "Edit" %} {{ form.instance }}
{% endblock title %}
{% block action %}{% url 'manage_devices-agent-update' pk=agent.id %}{% endblock %}

{% block content %}
<div class="clearfix">
    {% csrf_token %}
    <input type="hidden" name="item_id" value="{{ agent.id|unlocalize }}">
    <div class="left">
      <fieldset>
        <label>{% trans 'Location:' %}</label>
        {{ form.location }}
      </fieldset>
      {% if user.is_admin %}
      <fieldset>
        <label>{% trans 'No longer in use:' %}</label>
        {{ form.no_longer_in_use }}
      </fieldset>
      {% endif %}
    </div>
    <dl>
      <dt>{% trans "MAC:" %}</dt><dd>{{ agent.mac }}</dd>
    </dl>
</div>
{% endblock %}
