{% spaceless %}
{% load i18n %}
{% load l10n %}
{% load url from future %}
{% load static from staticfiles %}

<div class="clearfix indented" data-url="{% url 'manage-groups-form' pk=group.id %}" data-id="{{ group.id|unlocalize }}">
  <a href="{% url 'manage-groups-details' pk=group.id %}">
    <img src="{% static 'images/detail.png' %}" class="left detail-icon">
      {# layout hack; float header left to allow 'open'-link to float to the right of it #}
    <h3 class="left">{{ group.name_plain }}</h3>
  </a>
  <span class="right">
    {% if user.is_customer_superuser or user.is_admin %}
    <a class="open" href="#">
      <img src="{% static 'images/arrow-left.png' %}" alt="{% trans "Edit" %}">
    </a>
    {% endif %}
  </span>
</div>
{% endspaceless %}
