{% spaceless %}
{% load i18n %}
{% load url from future %}
{% load static from staticfiles %}

<div class="clearfix" data-url="{% url 'manage_measurementpoints:measurement_point-update' pk=graph_collection.id %}">
  <h3>{{ graph_collection.name_plain }}{% if graph_collection.billing_meter_number %}, {% trans "Meter no.: " %}{{ graph_collection.billing_meter_number }}{% endif %}{% if graph_collection.billing_installation_number %}, {% trans "Installation no.: " %}{{ graph_collection.billing_installation_number }}{% endif %}</h3>

  <dl class="left">
    <dt>{% trans "Group:" %}</dt>
      <dd>
      {% if graph_collection.parent %}
        {{ graph_collection.parent|default:"" }}
      {% else %}
        {% trans "None" %}</dd>
      {% endif %}
      </dd>
  </dl>
  {% if graph_collection.get_input_configurations %}
    <dl class="left name-description-list">
      <dt class="term_block">{% trans "Input configurations:" %}</dt>
      <dd>
        <ul>
          {% for ic in graph_collection.get_input_configurations %}
            <li>{{ ic }}</li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
  {% endif %}
  {% if graph_collection.source_consumption_point %}
    <dl class="left name-description-list">
      <dt class="term_block" >{% trans "Measurement Point:" %}</dt>
      <dd>
          {{ graph_collection.source_consumption_point }}
          {% trans "multiplied by" %}
          {{ graph_collection.multiplier|floatformat }}
      </dd>
    </dl>
  {% endif %}
  {% if graph_collection.heat_mp %}
    <dl class="left">
      <dt class="term_block" >{% trans "Heat Measurement Point:" %}</dt>
      <dd>
        {{ graph_collection.heat_mp }}
      </dd>
    </dl>
  {% endif %}
  {% if graph_collection.plus_consumption_measurement_points %}
    <dl class="left name-description-list">
      <dt class="term_block" >{% trans "Plus Measurement Points:" %}</dt>
      <dd>
        <ul>
          {% for measurementpoint in graph_collection.plus_consumption_measurement_points  %}
            <li>{{ measurementpoint }}</li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
  {% endif %}
  {% if graph_collection.minus_consumption_measurement_points %}
    <dl class="left name-description-list">
      <dt class="term_block">{% trans "Minus Measurement Points:" %}</dt>
      <dd>
        <ul>
          {% for measurementpoint in graph_collection.minus_consumption_measurement_points  %}
            <li>{{ measurementpoint }}</li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
  {% endif %}
  <span class="right">
    {% if user.is_customer_superuser or user.is_admin %}
      <a class="open" href="#">
        <img src="{% static 'images/arrow-left.png' %}" alt="{% trans 'Edit' %}">
      </a>
    {% endif %}
  </span>
</div>
{% endspaceless %}
