*unit-test.log
failed-test.log
TAGS
*.tar.gz
*.pyc
.*.swp
*~
\#*
.#*
*.DS_Store
.sass-cache/
*.pho
build/
html/
/static/
/media/
MNIMakefile
test_failures.txt
test_rerun.txt
*.log
*.rerun
failure-list.txt
*.idx
*.ilg
*.ind
.coverage
GridPlatform.pdf
GridPlatformDomainModel.pdf
.project
.idea
