{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load l10n %}
{% load widget_tweaks %}
{% load static from staticfiles %}

{% block page_id %}indexsettings-page{% endblock %}

{% block page_js %}
<script type="text/javascript">
jQuery(function() {

    // Clicking the .populate_default_values button should populate
    // the .value_at_hour input fields of the same period with the value
    // kept in the .default_value_at_hour field.
    $('.populate_default_values').click(function() {
        var li = $(this).closest('li');
        li.find('.value_at_hour input').each(function() {
          if ($(this).val() === '') {
            $(this).val(li.find('.default_value_at_hour').val());
          }
        });
      });

    // Clicking the .clear_values button should clear all
    // .editable_input inputs for the same period.
    $('.clear_values').click(function() {
        $(this).closest('li').find('.editable_input input').val('');
    });
    {% if messages %}
      {% for message in messages %}
        gridportal.website.notify('success', '{{ message }}');
      {% endfor %}
    {% endif %}

    $('.date').datepicker();
    $('input[name=delete]').each(function () {
        var btn = $(this);
        btn.tooltip({
            content: btn.data('reason')
        });
    });
    $('input[name=delete]').click(function (event) {
        event.preventDefault();
        event.stopPropagation();
        gridportal.website.synchroneousDelete(
          "{% url 'manage_indexes-delete' %}",
          "{{ index_form.instance.id|unlocalize }}",
          "{% url 'manage_indexes-listing' %}");
    });
    $("input[type=submit]").click(function () {
      $("input[type=submit]").attr("disabled", "disabled");
      if ($(this).attr('name') == 'save_return'){
        var input = $("<input>").attr("type", "hidden").attr("name", "save_return").val("");
        $('#indexform').append($(input));
      } else if ($(this).attr('name') == 'save') {
        var input = $("<input>").attr("type", "hidden").attr("name", "save").val("");
        $('#indexform').append($(input));
      }
      $('#indexform').submit();
    });
});
</script>
{% endblock %}


{% block title %}
{% trans "Settings: Indexes" %}
{% endblock title %}

{% block content_heading %}
{% trans "Settings: Indexes" %}
{% endblock content_heading%}

{%  block left_content %}
<div id="index" class="content-element">
  <div class="header clearfix">
    <h2>{{ index_header }}</h2>
  </div>
  <form method="POST" action="" id="indexform">
    {% csrf_token %}
    <fieldset>
      <label>{% trans "Name:" %}</label>
      {{ index_form.name }}
      {{ index_form.name.errors }}
    </fieldset>
    <fieldset>
      <label>{% trans "Group:" %}</label>
      {{ index_form.collection }}
      {{ index_form.collection.errors }}
    </fieldset>
    {% if index_form.currency %}
    <fieldset>
      <label>{% trans "Currency:" %}</label>
      {% if index_form.instance.id %}
      {{ index_form.instance.get_currency_unit_display }}
      {{ index_form.currency.as_hidden }}
      {% else %}
      {{ index_form.currency_unit }}
      {{ index_form.currency.errors }}
      {% endif %}
    </fieldset>
    {% endif %}
    <fieldset>
      <label>{% trans "Timezone:" %}</label>
      {{ index_form.timezone }}
      {{ index_form.timezone.errors }}
    </fieldset>
    <h3>{% trans "Periods" %}</h3>
    {{ period_forms.management_form }}
    <ul class="index-periods">
      {% for period_form in period_forms %}
	<li class="clearfix">
	  <div align="right">{% trans "Delete:" %}{{ period_form.DELETE }}</div>
	  {{ period_form.id|unlocalize }}
	  {{ period_form.index }}
	  {% if derived_periods %}
	  <table class="editable_input">
	    <tr><th>{% trans "From date:" %}</th><th>{% trans "Index:" %}</th></tr>
	    <tr>
	      <td>{{ period_form.from_date|attr:"class:date" }}{{ period_form.from_date.errors }}</td>
	      <td>{{ period_form.other_index }}{{ period_form.other_index.errors }}</td>
	    </tr>
	  </table>
	  <table class="editable_input">
	    <tr>
              <th>{% trans "Coefficient:" %}</th>
              <th>{% trans "Constant:" %}</th>
              <th>{% trans "Roof (optional):" %}</th>
            </tr>
	    <tr>
              <td>{{ period_form.coefficient }}{{ period_form.coefficient.errors }}</td>
              <td>{{ period_form.constant }}{{ period_form.constant.errors }}</td>
              <td>{{ period_form.roof }}{{ period_form.roof.errors }}</td>
            </tr>
	  </table>
	  {% else %}
	  <table class="editable_input">
	    <tr><th>{% trans "From date:" %}</th></tr>
	    <tr><td>{{ period_form.from_date|attr:"class:date" }}{{ period_form.from_date.errors }}</td>
	    </tr>
	  </table>
	  <table class="value_at_hour editable_input">
	    <tr>
	      <th>{% trans "00-01:" %}</th>
	      <th>{% trans "01-02:" %}</th>
	      <th>{% trans "02-03:" %}</th>
	      <th>{% trans "03-04:" %}</th>
	      <th>{% trans "04-05:" %}</th>
	      <th>{% trans "05-06:" %}</th>
	      <th>{% trans "06-07:" %}</th>
	      <th>{% trans "07-08:" %}</th>
	      <th>{% trans "08-09:" %}</th>
	      <th>{% trans "09-10:" %}</th>
	      <th>{% trans "10-11:" %}</th>
	      <th>{% trans "11-12:" %}</th>
	    </tr>
	    <tr>
	      {% for value_at_hour in period_form %}
		            {# Poor man slicing.  We just need the first 12 hours here #}
                {% if forloop.counter0 >= 1 and forloop.counter0 < 13 %}
                  <td{% if value_at_hour.errors %} class="error"{% endif %}>{{ value_at_hour }}</td>
                {% endif %}
	      {% endfor %}
            </tr>
	    <tr>
	      <th>{% trans "12-13:" %}</th>
	      <th>{% trans "13-14:" %}</th>
	      <th>{% trans "14-15:" %}</th>
	      <th>{% trans "15-16:" %}</th>
	      <th>{% trans "16-17:" %}</th>
	      <th>{% trans "17-18:" %}</th>
	      <th>{% trans "18-19:" %}</th>
	      <th>{% trans "19-20:" %}</th>
	      <th>{% trans "20-21:" %}</th>
	      <th>{% trans "21-22:" %}</th>
	      <th>{% trans "22-23:" %}</th>
	      <th>{% trans "23-24:" %}</th>
	    </tr>
	    <tr>
	      {% for value_at_hour in period_form %}
		            {% comment %}Poor man slicing.  We just need the last 12 hours here{% endcomment %}
                {% if forloop.counter0 >= 13 and forloop.counter0 < 25 %}
                  <td{% if value_at_hour.errors %} class="error"{% endif %}>{{ value_at_hour }}</td>
                {% endif %}
	      {% endfor %}
            </tr>

	  </table>
    {% if period_form.errors %}
     <span class="error"> {% trans "All fields must be filled out with intergers and only 5 digits per field" %} </span>
    {% endif %}
	  <p align="right">
	    <span class="value_at_hour"><input type="text" class="default_value_at_hour value_at_hour" /></span>
	    <input type="button" class="populate_default_values" value="{% trans 'Populate empty hours' %}" />
	  </p>
	  {% endif %}
	  <div align="right">
	    <input type="button" class="clear_values" value="{% trans 'Clear period' %}" />
	  </div>
	</li>
      {% endfor %}
    </ul>
    <input type="submit" name="save" value="{% trans 'Save' %}" />
    <input type="submit" name="save_return" value="{% trans "Save and return to list" %}" />
    {% if index_form.instance.id %}
      <span>&nbsp;&nbsp;&nbsp;</span>
      <input type="button" name="delete" {% if delete_prevention_reason %} data-reason="{{ delete_prevention_reason }}" {% endif %} title="" value="{% trans 'Delete' %}">
    {% endif %}
  </form>
</div>
{% endblock left_content %}
