{% load i18n %}
{% load bootstrap_tags %}

{% load utils %}

{% if object_list %}
<table class="table table-striped table-bordered sorted" data-provides="rowlink">
  <thead>
    <tr>
      <th class="grow-col">{% trans "Name" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
    <tr>
      <td><a href="{% url 'configuration_site:tariff-update' customer_id=object.customer_id pk=object.id %}">{{ object }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% include "bootstrap/_pagination.html" %}
{% else %}
<span class="no-data">{% trans "No energy tariffs present." %}</span>
{% endif %}
