{% extends "configuration_site/base.html" %}
{% load i18n %}
{% load pagination %}
{% load bootstrap_tags %}

{% block content %}
{% panel _("Customer Data Sources") search=True %}
<a href="{% url "configuration_site:customer-datasource-create" customer_id=customer.id %}" title="{% trans 'Add' %}">
  {% icon "plus" %}
</a>
{% endpanelbuttons %}
<div class="content-loader" data-url="{% url "configuration_site:customer-datasource-list-content" customer_id=customer.id %}" data-orderby="name_plain"></div>
{% endpanel %}

{% endblock %}
