{% extends "list_page.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block page_id %}customers-page{% endblock %}
{% block list_url %}{% url 'manage_customers-list-json' %}{% endblock %}
{% block default_sort_by %}name{% endblock %}

{% block title %}{% trans "Customer Administration" %}{% endblock %}
{% block content_heading %}{% trans "Customer Administration" %}{% endblock content_heading %}
{% block list_title %}{% trans "Customers" %}{% endblock %}

{% block add_button %}
<a class="add-customer right list-modifier" href="#" data-targeturl="{% url 'manage_customers-create'%}" data-targetlist="#model-list">
  <span>{% trans "Add customer" %}&nbsp;</span>
  <img src="{% static 'images/add-icon.png' %}" alt="{% trans 'Add customer' %}">
</a>
{% endblock %}

{% block sort_by %}
<span class="sort" data-sort="name">{% trans "Name" %}</span>
{% endblock %}
