{% load url from future %}
{% load i18n %}
{% load l10n %}
{% load widget_tweaks %}
{% load static from staticfiles %}
{% load relay %}

<div class="widget" data-id="{{ widget.id|unlocalize }}" data-url="{% url 'display_widgets-async_gauge' widget.id %}" data-type="{{ widget.widget_type }}">
    <div class="content-element">
      <div class="header clearfix">
        <img src="{% static 'images/mpicons/small.'|add:widget.collection.get_icon|add:'.png' %}" height="16" width="16" class="left icon">
        <h5 class="left">{{ widget.collection.name_plain }}</h5>
        <span class="right">
            <span class="widget_detail_link"><a href="{% url 'display_measurementpoints-group' pk=widget.collection.id %}"><img src="{% static 'images/details-small.png' %}"></a></span>
              <span>{% relay_image widget.collection.relay %}</span>
            <span><div class="remove-btn right">x</div></span>
        </span>
      </div>
      <div class="widget-role">{% trans "Today" %}</div>
      <div class="widget-graph" id="gauge{{ widget.id|unlocalize }}" style="width: 468px; height: 180px;">
        <canvas class="left"></canvas>
        <div class="info left">
          <div>{% trans "Min" %}: <span class="min"></span></div>
          <div>{% trans "Max" %}: <span class="max"></span></div>
          <div>{% trans "Avg" %}: <span class="avg"></span></div>
        </div>
      </div>
    </div>
</div>
