{% load url from future %}
{% load i18n %}
{% load l10n %}
{% load widget_tweaks %}
{% load static from staticfiles %}
{% load relay %}

<div class="widget" data-id="{{ widget.id|unlocalize }}" data-url="{% url 'display_indexes-async_graph_last_24h' pk=widget.index.id %}" data-type="{{ widget.widget_type }}">
    <div class="content-element">
      <div class="header clearfix">
	{% if widget.get_icon %}
        <img src="{% static 'images/mpicons/small.'|add:widget.get_icon|add:'.png' %}" height="16" width="16" class="left icon">
	{% endif %}
        <h5 class="left">{{ widget.index.name_plain }}</h5>

        <span class="right">
            <span class="widget_detail_link"><a href="{% url 'display_indexes-detail' pk=widget.index.id %}"><img src="{% static 'images/small.index.png' %}"></a></span>
            <img src="{% static "images/transparent.png" %}" height="16" width="16" class="relayStatus">
            <span><div class="remove-btn right">x</div></span>
        </span>
      </div>
      <div class="widget-role">{{ widget.index.get_role_display }}</div>
      <div class="widget-graph" style="width: 100%; height: 180px;">
      </div>
    </div>
</div>
