{% extends "price_relay_site/base.html" %}
{% load i18n %}
{% load pagination %}
{% load bootstrap_tags %}

{% block content %}
{% panel _("Price Relay Projects") search=True %}
<a href="{% url "price_relay_site:price-relay-project-create" customer_id=customer.id %}" title="{% trans 'Add' %}">
  {% icon "plus" %}
</a>
{% endpanelbuttons %}
<div class="content-loader" data-url="{% url "price_relay_site:price-relay-project-list-content" customer_id=customer.id %}" data-orderby="name_plain"></div>
{% endpanel %}

{% endblock %}
