{% load i18n %}

{% load bootstrap_tags %}

{% if customer %}
<ul class="nav main-menu">
   <li>
    <a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}">
      {% icon "bar-chart-o" %}<span class="hidden-sm text">{% trans 'Dashboard' %}</span>
    </a>
  </li>
  {% if perms.users.access_led_light_site_projects %}
  <li>
    <a href="{% url 'led_light_site_projects:led-light-project-list' customer_id=view.kwargs.customer_id %}">
      {% icon "gears" %}<span class="hidden-sm text">{% trans 'Projects' %}</span>
    </a>
  </li>
  <li>
    <a href="{% url 'led_light_site_projects:dashboard_burn' customer_id=view.kwargs.customer_id %}">
      {% icon "gears" %}<span class="hidden-sm text">{% trans 'Burn Hours' %}</span>
    </a>
  </li>
  {% endif %}

</ul>
{% endif %}
