{% extends "led_light_site/base.html" %}
{% load i18n %}
{% load l10n %}

{% load bootstrap_tags %}
{% load utils %}

{% block content %}
<div class="light-dashboard">
{% panel _("Total") %}
{% comment %}
<ul class="nav nav-tabs" id="mainCharts">
    <li id="chart24h" class="{% if period == '24h' %}active{% endif %}">
      <a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?period=24h">{% trans "24h" %}</a>
    </li>
    
    <li id="chartMonth" class="{% if period == 'month' %}active{% endif %}">
      <a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?period=month">{% trans "month" %}</a>
    </li>
    <li id="chartWeek" class="{% if period == 'year' %}active{% endif %}">
      <a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?period=year">{% trans "year" %}</a>
    </li>
</ul>
{% endcomment %}
<div class="dropdown pull-right">
  <a href="#" title="{% trans 'Add' %}" class="btn-add" data-toggle="dropdown">
    <span>{% trans 'Month' %}: {{ month }}</span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=0">...</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=1">{% trans 'January' %}</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=2">{% trans 'February' %}</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=3">{% trans 'March' %}</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=4">{% trans 'April' %}</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=5">{% trans 'May' %}</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=6">{% trans 'June' %}</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=7">{% trans 'Juli' %}</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=8">{% trans 'August' %}</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=9">{% trans 'September' %}</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=10">{% trans 'October' %}</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=11">{% trans 'November' %}</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year={{ year|unlocalize }}&month_number=12">{% trans 'December' %}</a></li> 
  </ul>
</div>
<div class="dropdown pull-right">
  <a href="#" title="{% trans 'Add' %}" class="btn-add" data-toggle="dropdown">
    <span>{% trans 'Year' %}: {{ year|unlocalize }}</span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year=2015&month_number={{ month_number|unlocalize }}">2015</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year=2016&month_number={{ month_number|unlocalize }}">2016</a></li>
    <li><a href="{% url 'led_light_site:dashboard' customer_id=view.kwargs.customer_id %}?year=2017&month_number={{ month_number|unlocalize }}">2017</a></li>
  </ul>
</div>
{% endpanelbuttons %}
<h1>
  <div class="pull-left">
  {% trans 'Saved' %}
  </div>
  <div class="pull-right">
    {% if total_saved %}
    	{{ total_saved|floatformat:2 }}
    {% else %}
    	-
    {% endif %}  DKK
  </div>
</h1>
<div class="clearfix"></div>
<ul class="stats led">
  <li>
    <span>{{ total_previous_price|floatformat:2 }} kr</span>
    <h5>{% trans 'Price with previous tubes' %}</h5>
  </li>
  <li>
    <span>{{ total_led_price|floatformat:2 }} kr</span>
    <h5>{% trans 'Price with LED tubes' %}</h5>
  </li>
</ul>
{% endpanel %}

<div class="info-boxes">
  {% for project in projects %}

  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="box info-box">
      <div class="backgroundColor darkgreen">
       <div class="clearfix">
          <span class="title">{{ project.name }}</span>
        </div>
        <div class="clearfix">
          <span class="title">{% trans 'Saved' %}</span>
          <span class="value">{{ project.saved|floatformat:2 }} DKK</span>
        </div>
      </div>
      <div class="quarters">
        <div class="quarter q3">
          <div>{{ project.previous_price|floatformat:2 }} DKK <span>{% trans 'Previous Price' %}</span></div>
        </div>
        <div class="quarter q4">
          <div>{{ project.led_price|floatformat:2 }} DKK <span>{% trans 'LED Price' %}</span></div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
