{% spaceless %}
{% load url from future %}
{% load l10n %}
{% load i18n %}
{% load static from staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>GridPortal - {{ group.name_plain }}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static '960gs/min/reset.css' %}">
    <link rel="stylesheet" href="{% static '960gs/min/text.css' %}">
    <link rel="stylesheet" href="{% static '960gs/min/960_24_col.css' %}">
    <link rel="stylesheet" href="{% static 'jquery/smoothness/jquery-ui-1.9.2.custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-dropdown/jquery.dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-timepicker/jquery-ui-timepicker-addon.css' %}">
    <link rel="stylesheet" href="{% static 'chosen/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'slickswitch/css/slickswitch.css' %}">
    <link rel="stylesheet" href="{% static 'custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
    {% endcompress %}

    {% if request.get_host == "portal.smartflex.dk" %}
      <link rel="stylesheet" href="{% static 'style-smartflex.css' %}" />
    {% elif request.get_host == "endesa.grid-manager.com" %}
      <link rel="stylesheet" href="{% static 'style-endesa.css' %}" />
    {% else %}
      <link rel="stylesheet" href="{% static 'style.css' %}" />
    {% endif %}
    <!--[if IE]>
    <style type="text/css">
      .btn {
        margin-left: 2px;
        margin-top: 0px;
      }
      .loginform {
        margin: 5px;
      }
    </style>
    <![endif]-->

    {# Hack to rotate text in ie 8 #}
    <!--[if lt IE 9]>
    <style type="text/css">
      .rotate {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

        top: 1px!important;
        left: 2px!important;
      }
    </style>
    <![endif]-->
    {# translations just before our code... #}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% compress js %}
     <script type="text/javascript" src="{% static 'jquery/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery-ui-1.9.2.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom-scrollbar-plugin/minified/jquery.mousewheel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom-scrollbar-plugin/minified/jquery.mCustomScrollbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery.labelify.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery.scrollTo-1.4.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery.ui.touch-punch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery.showpassword.js' %}"></script>
    <script type="text/javascript" src="{% static 'noty/jquery.noty.js' %}"></script>
    <script type="text/javascript" src="{% static 'noty/layouts/topCenter.js' %}"></script>
    <script type="text/javascript" src="{% static 'noty/themes/gridmanager.js' %}"></script>
    <script type="text/javascript" src="{% static 'flotr2.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-dropdown/jquery.dropdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'jstree/jquery.jstree.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-timepicker/jquery-ui-sliderAccess.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-timepicker/jquery-ui-timepicker-addon.js' %}"></script>
    <script type="text/javascript" src="{% static 'jsgauge/gauge.js' %}"></script>
    <script type="text/javascript" src="{% static 'jsgauge/jquery.gauge.js' %}"></script>
    <script type="text/javascript" src="{% static 'slickswitch/js/jquery.slickswitch.js' %}"></script>
    <script type="text/javascript" src="{% static 'website.js' %}"></script>
    <script type="text/javascript" src="{% static 'floorplan.js' %}"></script>
    {% endcompress %}

    <script type="text/javascript">
    /*jslint browser: true, devel: true, nomen: true */
    /*global gridportal, $, jQuery */
    jQuery(function() {
      gridportal.floorplan.show('{% url 'display_measurementpoints-floorplan-values' pk=group.pk %}');

    });
    </script>
    <style type="text/css">
    a {
      text-decoration: none;
    }
    </style>

  </head>
  <body class="blank" style="padding: 10px;" id="mp-page">
    <div class="content-element">
    <div class="header clearfix">
      <h3 class="left">{{ group.name_plain }}
      </h3>
    </div>
    <div id="floorplan">
      <div class="map">
        <img src="{% url 'manage-groups-floorplan_image' pk=group.floorplan.id %}" width="{{ group.floorplan.image.width }}" height="{{ group.floorplan.image.height }}" class="floorplan-image">

        <div class="item-overlay">
          {% for item in placed_collections %}
            <div class="item{% if not item.collection.is_online and item.has_collection %} offline{% endif %}{% if not item.has_collection %} infoitem{% endif %}" style="position: absolute; top: {{ item.y }}px; left: {{ item.x }}px; z-index: {{ item.z }};" data-id="{{ item.id|unlocalize }}" data-group="{{ item.collection.id|unlocalize }}">
              <div class="arrow"><img src="{% static 'images/arrow.png' %}"></div>
              <div class="border">
              {% if item.has_collection %}
              <span class="icon left"><img src="{% static 'images/mpicons/small.'|add:item.collection.get_icon|add:'.png' %}" height="16" width="16"></span><div class="name left"><a href="{% url 'display_measurementpoints-group' pk=item.collection.id %}">{{ item.collection }}</a>
                <span class="right item_value">{% with item.collection.get_last_rate as last_rate %}
                  {% if last_rate %}
                    {{ last_rate.0|floatformat:1 }} {{ last_rate.1|default:'' }}
                  {% endif %}
                {% endwith %}</span>
              </div>
              {% else %}
              <span class="infotext">{{ item.info_plain|linebreaks }}</span>
              {% endif %}
              <div class="clearfix"></div></div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
{% endspaceless %}









